
<style>
    .dropdown {
  display: inline-block;
  position: relative;
}
    .dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
}

.dropdown:hover .dropdown-options {
  display: block;
}
</style>
{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7 col-12">
                <div class="header-text">
                  <h6>Welcome To </h6>
                  <h4><em>Trusted </em> shoping Dreams</h4>
                  
                </div>
              </div>
            </div>
              <div class="dropdown">
  <button class="btn btn-light dropdown-toggle">Filter</button>
  <div class="dropdown-options ">
    <a href="/"><li>All</li></a>

      {% for i in cat %}
    <a class="items truncatechars-20" href={{ i.get_url }}><li>{{ i.name }}</li></a>

    {% endfor %}

  </div>
</div>

          </div>

          <!-- ***** Banner End ***** -->

         
          
         
        </div>
      </div>
    </div>
    <div class="row">

        {% for i in pg %}

            
                <div class="col-12 col-md-3 mt-4 m-2">
                 <a href="{{ i.get_url }}">
                    <div class="card text-bg-dark">
                    <img src="{{ i.img.url }}" style="border-radius: 5px;" class="card-image" alt="">
                    <div class="card-body">
                        <div class="card-title">{{ i.name|truncatechars:25 }}</div>
                        <p class="card-text">{{ i.desc|truncatechars:25 }}</p>
                        <p class="card-text text-light">₹{{ i.price }}</p>
                        {% if i.stock <= 0 %}

                        <p class="card-text text-danger">No stock available !</p>
                            {% else %}
                        <p class="card-text text-light">left in : {{ i.stock }} stock</p>
                        {% endif %}



                    </div>
                    
                </div>
                 </a>
                </div>

        {% endfor %}



                
            
         </div><center>
  {% for p in pg.paginator.page_range %}
  <a href="?page={{ p }}" class="btn btn-light btn-sm  {% if pg.number == p %}active{% endif %} m-1">{{ p }}</a>
  {% endfor %}</center>
  </div>
  
 {% endblock %}

